/target
**/target/
*_trajectory_*.png
**/*.rs.bk
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
web/interactive_macroquad.wasm
web/mq_js_bundle.js
web/assets/
